.App {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #add8e6;
  color:white;
  /* position: fixed; */
  width: 100%;
  z-index: 10;
}

header .logo h3 {
  font-size: 27px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: skyblue;
}

.content img {
  width: 100%;
  height: 320px;
  object-fit:cover ;
}

figure img {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

h2 {
  text-align: center;
}

figcaption {
  text-align: center;
}

p {
  text-align: center;
}

#skills h2 {
  line-height: 2rem;
  /* 適切な高さに調整してください */
}

#skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  /* 中央寄せする */
}

#skills {
  padding: 2rem;
  margin: 50px auto;
  /* 上下中央寄せする */
  border: 1px solid #ccc;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  padding: 0 7px;
  margin-bottom: 20px;
}

.skill-item img {
  height: 80px;
  /* 適切な大きさに調整してください */
  width: 80px;
  /* 適切な大きさに調整してください */
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 600px) {
  .skill-item {
    width: 33.33%;
  }
}

/*hobby*/

#hobby {
  padding: 2rem;
  margin: 50px 0;
  border: 1px solid #ccc;
}

.slick-arrow {
  z-index: 2;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

#double-slider {
  width: 60%;
  margin: 0 auto;
}

.main-slider {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.slider-item {
  width: 50%;
  display: inline-block;
  flex: 1; /* 幅を均等に分割します */
  margin: 10px 5px;
  overflow: hidden; /* 画像がはみ出さないようにします */
  position: relative;
  padding-top: 60%; /* アスペクト比を保つための余白を設定します */
}

.main-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hobby h2 {
  line-height: 18rem;
}

.txt {
  line-height: 3rem;
}

.text-slider {
  width: 80%;
  margin: 30px auto 0;
  padding: 30px 0;
  text-align: center;
  border-radius: 10px;
  line-height: 2rem;
}

.txt h3{
  text-align: center;
}