/*ヘッダー*/
.App {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #add8e6;
  color:white;
  width: 100%;
  z-index: 10;
}

header .logo h3 {
  font-size: 27px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: skyblue;
}

/* スマートフォン用のスタイル（例：幅が600px以下の場合） */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li:last-child {
    margin-bottom: 20px;
  }

  /* ナビゲーション項目のスタイル */
  nav ul li a {
    display: block; /* リンクをブロック要素に変更 */
    padding: 10px 0; /* 上下のスペースを追加 */
  }
}

/* メインメニュー */

/*ヘッダー*/

.content img {
  width: 100%;
  height: 320px;
  object-fit:cover ;
}

figure img {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

h2 {
  text-align: center;
}

figcaption {
  text-align: center;
}

p {
  text-align: center;
}

/* スキルセクションのスタイル */

#skills {
  padding: 2rem;
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

/* スキルアイテムのスタイル */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  flex: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.skill-item img {
  height: auto;
  width: 80px;
  max-width: 100%;
  max-height: 80px;
  margin-bottom: 10px;
}

/* スキルアイテムのテキストスタイル */
.skill-item p {
  font-size: 14px; /* 適切なフォントサイズに調整 */
  line-height: 1.4; /* 行間を調整 */
  margin: 0;
}

/* メディアクエリ */
@media (min-width: 600px) {
  .skill-item {
    flex: calc(50% - 20px);
    margin: 10px;
  }
}

/*hobby,works*/

/* カルーセルのコンテナ全体にスタイルを適用 */
.Carousel {
  width: 80%; /* カルーセルの幅を調整 */
  margin: 0 auto; /* カルーセルを中央に配置 */
  padding: 3rem; /* カルーセルの内側の余白を設定 */
}

/* スライド内の画像にスタイルを適用 */
.Carousel .slide img {
  max-width: 80%; /* 画像をスライドに合わせて最大幅に調整 */
  max-height: 300px; /* 画像の最大高さを設定（必要に応じて調整） */
}


/* スライド内のテキストにスタイルを適用 */
.Carousel .slide p {
  text-align: center; /* テキストを中央に配置 */
  font-size: 18px; /* テキストのフォントサイズを設定 */
  margin-top: 10px; /* テキストの上部の余白を設定 */
}

/*ニュース*/

#news {
  margin-top: 20px; 
}

#news h2 {
  font-size: 24px; 
  margin-bottom: 10px; 
}

#news dl {
  text-align: center;
  list-style-type: none; 
  padding: 0;
}

#news dt {
  text-align: center;
  font-weight: bold; 
  margin-top: 10px; 
}

#news dd {
  margin-bottom: 20px;
}

/*フッター*/

#footer {
  background-color: #add8e6;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.wrapper {
  margin-bottom: 10px;
}

.sns {
  font-size: 24px;
}

.sns a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.sns a:hover {
  color: #55acee;
}

.sns i {
  padding: 0 5px;
}